@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #0C9494;
}
.bg-secondary {
  background-color: #f1f7f6;
}
.text-primary {
  color: #0C9494;
}
.text-secondary {
  color: #64726f;
}
.text-dark{
 color: #005c4d;
}
.text-dim{
  color: #64726f;
}
.text-dim-gray{
  color: rgba(255, 255, 255, .8);
  margin-bottom: 20px;
}
.border-primary{
  border-color:#0C9494 ;
}

.hero-title {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  font-size: 58px;
  font-weight: 400;
  line-height: 67px;
}
.section-title {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

/* == HEADER == */


.links a {
  font-size: 14px;
  font-weight: 500;
  color: #0C9494;
  padding: 13px 10px;
  white-space: nowrap;
}


.links a.active,
.links a:hover {
  color: #000000;
}



.menu-bar {
  padding: 5px;
}
.hero{
  background-image: url(../../public/img/hero.jpg);
}
.header-bg{
  background-image: url(../../public/hrfleek.jpg);
}

.topics-card {
  width: 100%;
  height: 250px;
  overflow-y: auto;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid#00856f;
  background: transparent;
}

.marquee-hero {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-75% + var(--offset));
}
.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 15s linear infinite;
  animation-play-state: running;
}
@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
.slick-dots li button:before {
  font-size: 12px;
  color: gray;
}
.slick-dots li.slick-active button:before {
  color: black;
}
.job-details ul{
  list-style-type: disc;
  list-style-position: inside;
}
.service-content ul{
  list-style-type: disc;
  list-style-position: inside; 
}
.article a{
  color: #13A8BD;
  text-decoration: underline;
}

/* == Contact == */
section.contact {
  background-color: var(--transparent);
  margin: 40px 0px 0px;
}

.contact-details,
.contact-form {
  padding: 10px;
  width: 100%;
  max-width: 584px;
  min-width: 280px;
}

.contact-details .title {
  padding: 0px 0px 16px;
}

.contact-details .title h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  text-transform: uppercase;
  color: var(--white);
  margin: 10px 0px;
}

.contact-details .title p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
  margin: 10px 0px;
}

.contact-details .details {
  padding: 16px 0px;
}

.details .detail {
  height: 48px;
  width: fit-content;
  padding: 12px 24px;
  background: var(--white);
  border: 1px solid var(--grey);
  border-radius: 5px;
  margin: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25px;
}

.details .detail span {
  margin: 0px 16px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--black-level-nd);
}

.contact-details iframe {
  margin: 30px 0px 10px;
  width: 100%;
  max-width: 560px;
  min-width: 260px;
  height: 100%;
  max-height: 287px;
  aspect-ratio: 560/287;
}

.contact-form form .names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .control-group {
  width: 100%;
  max-width: 564px;
  min-width: 260px;
  padding: 10px;
}

form .control-group label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  padding: 0px 0px 10px;
}

form .control-group input {
  outline: none;
  width: 100%;
  height: 50px;
  border: 1px solid #BCBCBC;
  border-radius: 5px;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 13px 20px;
}

form .control-group input::placeholder {
  color: gray;
}

.control-group.checkbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.control-group.checkbox label {
  font-size: 12px;
  line-height: 18px;
  margin: 0px 0px 0px 10px;
}

#checkboxed {
  width: 18px !important;
  height: 18px !important;
  border-radius: 9px !important;
  background-color: transparent !important;
  border: 2px solid white !important;
}

#checkboxed:checked {
  background-color: white;
  /* Change background color when checked */
}

.control-group button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  height: 50px;
  width: 100%;
  border-radius: 5px;
}

/* == || Contact == */

.about-card svg#ellipse {
  position: absolute;
  top: 0px;
  right: 0px;
}


.about-card span.icon {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.about-card span.icon svg {
  width: 30px;
  height: 30px;
}

.about-card .card-text h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  color: white;
}

.about-card .card-text p {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.about-card:nth-child(2) {
  background-color: #F39711;
}

.about-card:nth-child(3) {
  background-color: #06400B;
}

.about-card:nth-child(4) {
  background-color: #13A8BD;
}

.about-card:nth-child(1) {
  background-color: #90123F;
}

.about img.vector {
  position: absolute;
}

.about img.vector.m-one {
  top: 30%;
  right: 0px;
}

.about img.vector.m-two {
  bottom: 30%;
  left: 0px;
}

.hr-services {
  height: 57px;
  width: 0px;
  border: solid 1px #005c4d;
  left: 50%;
  background: #06400B;
}
.service-card {
  background: #DCE9E2;
  border-radius: 0px 30px 30px 0px;
}

.service-card:hover {
  background: #222222;
  border-radius: 0px 30px 30px 0px;
  color: white;}
/* == || Header == */
/* == RESPONSIVE == */
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 640px) {

  .menu-btn {
    color: #ffffff;
  }

  .links {
    height: 80vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;

    display: flex;
    padding: 80px 0px 10px;
    transition: all ease 0.5s;

    z-index: 5;
    background-color: white;

  }
  .links button {
    width: 80%;
  }

  .links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100% !important;
    color: #005c4d;
    padding: 0px 20px 0px;
  }

  .links a:hover {
    background-color: #005c4d;
    color: white;
  }

  .links span {
    cursor: pointer;
  }

  .links.active {
    right: 0%;
  }

  .cancel-btn {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #005c4d;
    font-size: 18px;
    position: absolute;
    top: 40px;
    right: 20px;
  }
  
  .hr-services {
    width: 35px;
    height: 0px;
    border: 1px solid #ffffff;
    transform: rotate(90deg);
    background: #ffffff;
  }
  
.hero-title {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
}
.section-title {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .menu-btn {
    color: white;
  }


  .menu-bar {
    display: none !important;
  }

  .cancel {
    display: none;
  }
}

